<!DOCTYPE html>
<html>
<head>
    <title>Vaccine Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 shadow-lg p-5" style="width: 30%; height: 75vh; background-color: white;">
        <div class="text-center">
            <img src="LogoAS.png" alt="Vaccine Image" class="img-fluid" style="max-width: 750px;">
        </div>
        <p class="mt-4" style="text-align: center; font-weight: 900; font-size: 200%; font-family:Copperplate; color: rgb(201, 99, 10);">THE BRIDGE TO HEALTH </p>
        <form action="register_user" method="post" class="mt-4">
            <a href="Instruction.html"><input type="button" class="btn btn-primary mx-7" value="Instructions" name="Instructions"></a>
            <a href="index.html"><input type="button" class="btn btn-primary mx-7" value="Registration" name="Register"></a>
            <a href="login.html"><input type="button" class="btn btn-primary mx-7" value="login" name="login"></a>
        </form>
    </div>
</body>
</html>
