<!DOCTYPE html>
<html>
<head>
    <title>Vaccine Registration Instructions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Vaccine Registration Instructions</h1>
        <ul class="list-group">
            <li class="list-group-item">Vaccination Drive: June 1st, 2021 to June 30th, 2021</li>
            <li class="list-group-item">Timings: 10:00 AM to 5:00 PM (Everyday)</li>
            <li class="list-group-item">Each Vaccine Slot: 30 minutes duration</li>
            <li class="list-group-item">Slot Examples: 10:00 AM to 10:30 AM, 10:30 AM to 11:00 AM, etc.</li></br>
        </ul>
    </div>
    <div class="text-center">
        <a href="index.html"><input type="button" class="btn btn-primary mx-4" class="mt-4" value="Registration" name="Register"></a></br>
        <a href="login.html"><input type="button" class="btn btn-primary mt-3" value="Login" name="login"></a>
        <a href="FirstPage.html" class="btn btn-secondary mt-3">Go back</a>
    </div>
    
</body>
</html>
